@model ASP.NET_20_02_2023.Models.DodawanieFilmowViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Dodaj Film";
}



@using (Html.BeginForm("DodajFilm", "Filmy", FormMethod.Post, new { enctype = "mulipart/form-data" }))
{
    if (TempData["Dodaj"] != null)
    {
        <div class="alert-info">TempData["Dodaj"]</div>
    }

    <div>
        <div class="form-group">
            @Html.LabelFor(f => f.film.Rezyser, "Podaj rezystera:")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(f => f.film.Rezyser, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.film.Tytul, "Podaj rezystera:")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(f => f.film.Tytul, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.film.Opis, "Podaj rezystera:")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(f => f.film.Opis, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.film.Cena, "Podaj rezystera:")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(f => f.film.Cena, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(f => f.Plakat, "Wybierz plakat:")
        </div>
        <div class="form-group">
            @Html.TextBoxFor(f => f.Plakat, new { @type = "file" })
            <span asp-validation-for="Plakat" class="alert-danger"></span>
        </div>
    </div>
    <td>Kategoria:</td>
    @foreach (var kategoria in Model.kategoria)
    {
        <div class="form-radio-btn">@Html.RadioButtonFor(f => f.film.KategoriaId, kategoria.Id, new { required = true })</div>
        <div class="form-radio-btn">@Html.LabelFor(f => f.film.KategoriaId, @kategoria.Nazwa)</div>
    }
    <div class="form-group">

        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
}
