@model IEnumerable<KoszykRzecz>

<div>
    @foreach (var itemCart in Model)
    {
    <ul id="catItem-@itemCart.Film.Id">
        <li class="m-auto">
            <p>Tytul</p>
            @itemCart.Film.Tytul
        </li>
        <li class="m-auto">
            <p>Ilosc</p>
            <span id="cartItem-@itemCart.Film.Id">@itemCart.Ilosc</span>
</li>
        <li class="m-auto">
            <p>Cena</p>
            <p class="table-warning">@itemCart.Wartosc zł</p>
</li>
        <li><a href="#"  class="trash" data-id="@itemCart.Film.Id">#&#128465</a></li>
    </ul>
    }
</div>
<div>
    Razem: @ViewBag.CenaCalowita zł
</div>
@section Scripts{ 
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type ="text/javascript">
        $(".trash").click(function () {
            var ElementKoszykaId = $(this).data('id');
            if (ElementKoszykaId != '') {
                $.post("/Koszyk/UsunZKoszyka", { "id": ElementKoszykaId }, function (response) {
                    if (response.iloscRzeczy == 0) {
                        $("#cartItem-" + response.RzeczId).fadeOut("slow");
                    }
                    else {
                        $("itemQuantity-" + response.itemId).text(response.iloscRzeczy);
                    }
                });
            }
        });
    </script>
}
